---
---

@import "zenburn.css";

@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/bitter-v40-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Bitter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/bitter-v40-latin-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Bitter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/bitter-v40-latin-700.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/ibm-plex-mono-v20-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/ibm-plex-mono-v20-latin-600.woff2") format("woff2");
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/ibm-plex-mono-v20-latin-700.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply font-semibold text-base text-olive underline underline-offset-4 decoration-dotted hover:text-emerald-700
}

header a {
  @apply font-monospace text-sm text-rose-700 hover:text-rose-800 px-3 py-2 no-underline hover:underline hover:decoration-wavy decoration-1 underline-offset-8;
}

header a:hover {
  background-size: 100% 2px;
}

h1, h2, h3, h4 {
  @apply font-heading
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl mb-4 mt-6;
}

h3 {
  @apply text-xl mb-3 mt-5;
}

h4 {
  @apply text-lg mb-2 mt-4;
}

p {
  @apply font-body leading-7 text-lg mb-4;
}

pre {
  @apply mb-4 rounded-md px-4 py-3 overflow-scroll text-sm;
}

code {
  @apply font-monospace;
}

code.language-plaintext {
  @apply font-monospace border border-fuchsia-200 bg-purplish py-0.5 px-1 text-xs rounded;
}

@layer components {
  .toc a {
    @apply flex-1 font-heading text-lg text-stone-600 hover:text-rose-500 no-underline hover:underline hover:decoration-wavy decoration-1 underline-offset-4 ;
  }

  .project {
    @apply space-y-2 md:space-y-0 md:flex md:items-center md:space-x-6 border-b border-t py-4 border-gray-300
  }

  .project > * {
    @apply w-full md:w-1/2
  }

  .project a {
    @apply font-heading text-xl mb-2 inline-block text-rose-500
  }

  .project p {
    @apply text-base
  }

  .library {
    @apply border-b border-gray-300 mb-4
  }

  .library h4 {
    @apply m-0
  }

  .library p {
    @apply text-base
  }

  .lightbox {
    @apply p-0 bg-transparent border-0 outline-none;
  }

  .lightbox::backdrop {
    @apply bg-black/80;
  }

  .lightbox img {
    @apply block cursor-zoom-out;
    max-width: 90vw;
    max-height: 90vh;
  }
}
