---
layout: default
---

<div class="my-8 text-center">
  <h1>{{ page.title }}</h1>

  <div class="font-monospace text-xs text-slate-600 mt-4">{{ page.date | date: site.date_format }}</div>
</div>

<article class="mt-6 grow">
  {{ content }}
</article>

{% assign post_url = site.url | append: page.url %}
<div class="mt-10 text-center text-sm">
  <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}&url={{ post_url | url_encode }}&via=gmitrev"
     target="_blank" rel="nofollow noopener">
    Discuss this post on Twitter &rarr;
  </a>
</div>

<div class="border border-pink-200 p-4 pt-2 bg-rose-50 rounded text-sm mt-12">
  <div class="text-pink-300  text-center mb-2" style="font-size: 8px">
    <span class="text-rose-500 font-bold">[</span>
    shameless plug
    <span class="text-rose-500 font-bold">]</span>
  </div>
  Psst. Check out my latest project, <a class="text-sm" href="https://stonksfolio.com"
    target="_blank">Stonksfolio</a>, if you need an awesome portfolio tracker!
</div>
